body {
  padding: 0;
  margin: 0;
  background: url("../static/background_2.jpg");
  color: white;
}
#page-wrapper {
  text-align: center;
}
#page {
  margin: 0 auto;
  border: 1px solid #ffffff;
  width: 960px;
}
#header, #menu {
  overflow: hidden;
  position: relative;
}

#logo{
  float: left;
  /*outline: 1px solid #ffffff;*/
  padding: 20px 0;
  width: 33.3%;
  background-image: url("../static/logo.png");
  background-size: 80px 40px;
}
#contacts, #stock {
  float: left;
  outline: 1px solid #ffffff;
  padding: 20px 0;
  width: 33.3%;
}
#search, #main-menu {
  float: left;
  border: 1px solid #ffffff;
  padding: 20px 0;
}
#search {
  width: 250px;
}
#main-menu {
  width: 706px;
}

#content {
  position: relative;
}

#left-col {
  width: 250px;
  border: 1px solid #ffffff;
  float:left;
  min-height: 100%;
  height: 100%;
}

#center-col {
  margin-left: 250px;
  overflow: hidden;
}
#footer {
  border: 1px solid #ffffff;
  padding: 50px 0;
}
.box {
  width: 180px;
  height: 180px;
  margin: 20px;
  border-radius: 5px;
  background-image: url("../static/images.jpg");
  float: left;
}
